page-home {
  .doctor-list {
    .label {
      margin:0!important;
    }
  }
  .pmain_text {
    font-size: 11px;
    span, font {
      font-size: 11px!important;
    }
  }
  .searchbar {
    background: #bd0000!important;
    min-height: 2.8rem!important;
    .searchbar-input {
      border-radius: 15px!important;
      height: 2rem!important;
    }
    .searchbar-search-icon {
      left: 12px!important;
      top: 5px!important;
    }
  }
  .yzt-header {
    width: 100%;
    background: #fff;
    height: 44px;
    text-align: center;
    img {
      height: 44px;
    }
  }

  .slides {
    height: auto;
  }
  .swiper-container {
    height: auto;
  }

  .space {
    height: 12px;
    background: #eee;
  }

  .tang-line {
    width: 100%;
  }

  .home-menu {
    text-align: center;
    .col img {
      border-radius: 50%;
      width: 46px;
      height: 46px;
    }
    .col p {
      font-size: 12px;
      margin: 0;
      color: #999;
    }
  }

  .home-doctor {
    .label {
      font-size: 12px;
    }

    .item img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }

    .item p em {
      color: #f53d3d;
    }

    .home-doctor-info .item-inner {
      background-image: none!important;
    }
  }
}
