<ion-header>
  <ion-navbar>
    <ion-title>医馆</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="yzt-header">
    <img src="assets/imgs/header.png" />
  </div>
  <ion-searchbar (ionInput)="search($event)" placeholder="输入症状、专家、经方"></ion-searchbar>
  <ion-slides pager loop autoplay="3000">
    <ion-slide>
      <img src="assets/imgs/slider-1.jpg" class="slide-image"/>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slider-2.jpg" class="slide-image"/>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slider-3.jpg" class="slide-image"/>
    </ion-slide>
  </ion-slides>
  <img class="tang-line" src="assets/imgs/tang-line.png"/>
  <ion-grid class="home-menu-top">
    <ion-row>
      <ion-col col-3 (click)="startSicknessPage()" text-center>
        <img src="assets/imgs/menu-1.png" />
        <p>症状</p>
      </ion-col>
      <ion-col col-3 (click)="startDepartmentPage()" text-center>
        <img src="assets/imgs/menu-2.png" />
        <p>科室</p>
      </ion-col>
      <ion-col col-3 (click)="startDoctorListPage()" text-center>
        <img src="assets/imgs/menu-3.png" />
        <p>专家</p>
      </ion-col>
      <ion-col col-3 (click)="startPage()" text-center>
        <img src="assets/imgs/menu-4.png" />
        <p>经方</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 (click)="startPage()" text-center>
        <img src="assets/imgs/menu-5.png" />
        <p>健康</p>
      </ion-col>
      <ion-col col-3 (click)="startPage()" text-center>
        <img src="assets/imgs/menu-6.png" />
        <p>养生</p>
      </ion-col>
      <ion-col col-3 (click)="startPage()" text-center>
        <img src="assets/imgs/menu-7.png" />
        <p>客服</p>
      </ion-col>
      <ion-col col-3 (click)="startMoreModal()" text-center>
        <img src="assets/imgs/menu-8.png" />
        <p>更多</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img class="tang-line" src="assets/imgs/tang-line.png"/>
  <ion-grid class="home-menu">
    <ion-row>
      <ion-col col-3 (click)="startPage(item.name)" *ngFor="let item of sicknessFirstLine">
        <img [src]="item.icon" />
        <p>{{item.name}}</p>
      </ion-col>
      <ion-col col-3 (click)="startMoreModal()">
        <img src="assets/imgs/more.png" />
        <p>更多</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img class="tang-line" src="assets/imgs/tang-line.png"/>
  <ion-list class="home-doctor">
    <div ion-item text-center no-lines>
      <img src="assets/imgs/recommend.png" style="width:120px;height:auto;"/>
    </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 (click)="startDoctorPage(item.id)" *ngFor="let item of doctorList">
        <div ion-item text-center no-lines no-padding class="doctor-list">
          <img [src]="item.avatar" style="height:auto;">
          <h2>{{item.name}} </h2>
          <!-- <p><small>{{item.hospital}}{{item.rank}}</small></p> -->
          <div text-wrap class="pmain_text" [innerHTML]="assembleHTML(item.intro)"></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
    <button ion-item text-right (click)="startDoctorListPage()" no-lines>全部专家</button>
    <!-- <button ion-item class="home-doctor-info" (click)="startDoctorPage()">
      <ion-thumbnail item-start>
        <img src="assets/imgs/avatar-2.png">
      </ion-thumbnail>
      <h2>李医师 <small>主任医师</small></h2>
      <p><small>仁济医院（三甲）</small></p>
      <p><em>1800</em> 人付款，<em>190</em> 条评价</p>
      <p text-wrap>脾胃不足，百病之始</p>
    </button>
    <button ion-item class="home-doctor-info" (click)="startDoctorPage()">
      <ion-thumbnail item-start>
        <img src="assets/imgs/avatar-1.png">
      </ion-thumbnail>
      <h2>张医师 <small>主任医师</small></h2>
      <p><small>仁济医院（三甲）</small></p>
      <p><em>1800</em> 人付款，<em>190</em> 条评价</p>
      <p text-wrap>脾胃不足，百病之始</p>
    </button>
    <button ion-item class="home-doctor-info" (click)="startDoctorPage()">
      <ion-thumbnail item-start>
        <img src="assets/imgs/avatar-2.png">
      </ion-thumbnail>
      <h2>莉医师 <small>主任医师</small></h2>
      <p><small>仁济医院（三甲）</small></p>
      <p><em>1800</em> 人付款，<em>190</em> 条评价</p>
      <p text-wrap>脾胃不足，百病之始</p>
    </button>
    <button ion-item class="home-doctor-info" (click)="startDoctorPage()">
      <ion-thumbnail item-start>
        <img src="assets/imgs/avatar-1.png">
      </ion-thumbnail>
      <h2>黄医师 <small>主任医师</small></h2>
      <p><small>仁济医院（三甲）</small></p>
      <p><em>1800</em> 人付款，<em>190</em> 条评价</p>
      <p text-wrap>脾胃不足，百病之始</p>
    </button> -->
  </ion-list>
</ion-content>
